.navbar-brand{
    margin-left: 30px;
}
.nav-item{
    text-align: center;
    font-size: 20px;
    justify-self: center;
    transition: transform 0.3s ease-in-out, scale 0.3s ease-in-out;
}
.nav-item:hover{
    cursor: pointer;
    transform: scale(1.05);
}
body .Bg-image{
    margin-top: 0px;
    background-image: url("https://semet-fssm.com/assets/images/img5.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    filter: brightness(50%);
}
.txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    
}
.card-profile{
    background-color: rgba(244, 244, 244, 0.442);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.405);
    min-height: 300px;
    transform: translate(-0%, -40%);
    font-weight: bold;
    padding: 10px;
}
.card:hover{
    cursor: default;
}

p.card-text{
    font-size: 17px;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
#skills {
    align-items: center;
    background-color: #e2e2e2;
    padding: 10px 10px;
}
.text-left{
    text-align: left;
    margin: 100px;
    margin-top: 0px;
}
.skill-list {
    display: flex;
    flex-direction: column;
    gap: 10px;             
    max-width: 600px;       
    margin: 20px auto;     
}

.skill-card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    height: 80px;          
    width: 100%;           
    display: flex;
    align-items: center;
    padding: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin: 0px;
}

.skill-card .card-body {
    display: flex;
    align-items: center;
    padding: 0;
}

.skill-img {
    width: 40px;
    height: 40px;
}
.skill-card:hover{
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    cursor: default;
}
#Projects{
    background-color: #e2e2e2;
    padding: 10px 10px;
}
#Contact{
    background-color: #e2e2e2;
    padding: 10px 10px;
}
footer{
    font-weight: bold;
    font-size: large;
}